:root {
  --ff: "Inter", sans-serif;
  --ff-sec: "DM Sans", sans-serif;
  --transition: .2s all ease-in-out;
  --c-white: #ffff;
  --c-primary: #E58411;
  --c-light-blue: #00D6C9;
  --c-gray: #7C7C7C;
  --c-footer-bg: #2D2F33;
  --c-text: #1E1E1E;
  --c-text-muted: #8D8D8D;
  --c-card-dark: #0D1B39;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  outline: 0;
  word-break: break-word;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

body {
  margin: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff);
  color: var(--c-text);
  position: relative;
}

html._overflow {
  overflow: hidden;
}
html._overflow body {
  overflow: hidden;
}

a {
  color: var(--c-text);
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  width: 100%;
  margin-inline: auto;
}

.none {
  display: none !important;
}

.btn {
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.title {
  margin-top: 90px;
  font-size: 44px;
  color: var(--c-white);
  font-weight: 700;
  margin-bottom: 17px;
}
@media (max-width: 576px) {
  .title {
    font-size: 32px;
    margin-top: 50px;
  }
}
.title span {
  color: var(--c-primary);
}

.desc {
  color: var(--c-body);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  max-width: 460px;
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .desc {
    font-size: 14px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 0px;
  border-bottom: 1px solid var(--c-border);
}
.header__backdrop {
  display: none;
}
@media (max-width: 992px) {
  .header__backdrop {
    transform: translateX(120%);
    display: block;
    transition: var(--transition);
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
  }
}
.header__logo {
  color: var(--c-white);
  font-size: 28px;
  font-weight: 700;
  display: inline-flex;
}
.header__logo span {
  color: var(--c-primary);
}
.header__ul {
  display: flex;
  align-items: center;
  gap: 24px;
  z-index: 1;
}
@media (max-width: 992px) {
  .header__ul {
    position: fixed;
    width: 70%;
    height: 100%;
    flex-direction: column;
    left: 0;
    top: 0;
    background: var(--c-primary);
    align-items: center;
    justify-content: center;
    transform: translateX(-120%);
    transition: var(--transition);
  }
}
.header__ul._active {
  transform: translateX(0);
}
.header__ul._active ~ .header__backdrop {
  transform: translateX(0);
}
.header__ul .icon-close {
  position: absolute;
  top: 40px;
  right: 40px;
  color: var(--c-white);
}
.header__a {
  color: var(--c-text);
  font-size: 16px;
  font-weight: 400;
  transition: var(--transition);
}
.header__a.is-active, .header__a:hover {
  color: var(--c-primary);
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;
}
@media (max-width: 992px) {
  .icon-menu,
  .icon-close {
    display: inline-block;
  }
}

.mobile-nav-wrapper {
  transform: translateX(-120%);
  transition: var(--transition);
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 320px;
  height: 100vh;
  padding: 30px 30px;
  background-color: #34373f;
}
.mobile-nav-wrapper._active {
  transform: translateX(0);
}
.mobile-nav-wrapper._active ~ .header__backdrop {
  transform: translateX(0);
}
.mobile-nav-wrapper a {
  color: var(--c-white) !important;
}
.mobile-nav-wrapper--open {
  display: block;
}

.mobile-nav {
  display: grid;
  gap: 20px;
  font-size: 20px;
}
.mobile-sub-nav {
  padding-top: 20px;
  padding-left: 20px;
  display: grid;
  gap: 14px;
  font-size: 16px;
}
.mobile-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  gap: 20px;
}

.mobile-cart {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  flex-grow: 1;
}/*# sourceMappingURL=main.css.map */