@charset "UTF-8";
:root {
  --ff: "Archivo", sans-serif;
  --transition: .2s all ease-in-out;
  --c-white: #ffff;
  --c-primary: #00C29F;
  --c-light-blue: #00D6C9;
  --c-gray: #7C7C7C;
  --c-footer-bg: #2D2F33;
  --c-text: #1E1E1E;
  --c-text-muted: #8D8D8D;
  --c-card-dark: #0D1B39;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  outline: 0;
  word-break: break-word;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

body {
  margin: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff);
  color: var(--c-text);
  position: relative;
  background: #f7f7f7;
}

html._overflow {
  overflow: hidden;
}
html._overflow body {
  overflow: hidden;
}

a {
  color: var(--c-text);
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  width: 100%;
  margin-inline: auto;
}

.none {
  display: none !important;
}

.btn {
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  transition: var(--transition);
  position: relative;
}
a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  border-radius: 50%;
  bottom: -3px;
  position: absolute;
  background: var(--c-primary);
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition);
}
a:hover::after {
  width: calc(100% - 8px);
}
a:hover {
  opacity: 0.5;
  color: var(--c-primary);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 15px;
  border-bottom: 1px solid var(--c-border);
}
.header__personal {
  align-items: center;
  display: flex;
  gap: 20px;
}
@media (max-width: 992px) {
  .header__personal {
    display: none;
  }
}
.header__ul {
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 1;
}
@media (max-width: 992px) {
  .header__ul {
    display: none;
  }
}
.header__ul._active {
  transform: translateX(0);
}
.header__ul._active ~ .header__backdrop {
  transform: translateX(0);
}
.header__ul .icon-close {
  position: absolute;
  top: 40px;
  right: 40px;
  color: var(--c-white);
}
.header__a {
  color: var(--c-text);
  font-size: 16px;
  font-weight: 400;
  transition: var(--transition);
}
.header__a:hover {
  color: var(--c-primary);
}

.header__nav-container {
  display: contents;
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;
}
@media (max-width: 992px) {
  .icon-menu,
  .icon-close {
    display: inline-block;
  }
}

.footer {
  padding: 12px 0;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: space-between;
  align-items: center;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mobile-nav-wrapper {
  transform: translateX(-120%);
  transition: var(--transition);
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 320px;
  height: 100vh;
  padding: 30px 30px;
  background-color: #34373f;
}
.mobile-nav-wrapper._active {
  transform: translateX(0);
}
.mobile-nav-wrapper._active ~ .header__backdrop {
  transform: translateX(0);
}
.mobile-nav-wrapper a {
  color: var(--c-white) !important;
}
.mobile-nav-wrapper--open {
  display: block;
}

.mobile-nav {
  display: grid;
  gap: 20px;
  font-size: 20px;
}

.mobile-sub-nav {
  padding-top: 20px;
  padding-left: 20px;
  display: grid;
  gap: 14px;
  font-size: 16px;
}

.mobile-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  gap: 20px;
}

.mobile-cart {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  flex-grow: 1;
}

.tab-controls {
  display: inline-flex;
  padding: 6px;
  align-items: center;
  border-radius: 9px;
  background-color: #eee;
  border: 1px solid lightgrey;
}
.tab-controls__btn {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 18px;
  color: rgba(31, 31, 31, 0.8);
  font-weight: 500;
  line-height: 1.85;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.tab-controls__btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tab-controls__btn--active {
  background-color: var(--c-primary);
}
.tab-controls__btn--active:hover {
  background-color: var(--c-primary);
}

.stays__position {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.2;
}
.stays__position--active {
  font-weight: 600;
}

.stays-section {
  padding: 38px 0 24px;
}

.stays__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 22px;
}

.show-more, .hide-all {
  cursor: pointer;
  margin-inline: auto;
  display: flex;
  margin-top: 22px;
  border-radius: 6px;
  border: 1px solid var(--c-primary);
  background: none;
  justify-content: center;
  padding: 11px 30px;
  color: var(--c-primary);
  font-size: 16px;
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 500;
  transition: var(--transition);
}
.show-more:hover, .hide-all:hover {
  opacity: 0.7;
}

.card {
  border: 2px solid #E8ECF2;
  border-radius: 20px;
  max-width: 305px;
  position: relative;
  transition: var(--transition);
}
.card a:hover::after {
  display: none;
}
.card__trend {
  display: flex;
  align-items: center;
  color: var(--c-primary);
  gap: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}
.card-like {
  z-index: 5;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 27px;
  background: white;
  padding: 8px;
  border-radius: 50%;
  transition: var(--transition);
}
.card-like svg {
  display: flex;
}
.card-like:hover {
  opacity: 0.9;
  background-color: var(--c-primary);
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.card__photo {
  border-radius: 20px 20px 0 0;
  background-color: #fafafa;
  text-align: center;
}
.card__photo img {
  border-radius: 20px 20px 0 0;
}
.card__desc {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 16px;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
}
.card__desc-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}
.card__categore {
  position: relative;
  z-index: 3;
  color: rgb(23, 30, 29);
  font-family: var(--ff);
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2%;
}
.card__title {
  margin: 0;
  margin-top: 6px;
  color: rgb(120, 120, 120);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2%;
}
.card__raiting {
  display: flex;
  align-items: baseline;
  gap: 6px;
  color: rgb(23, 30, 29);
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
}
.card__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__price {
  display: flex;
  align-items: baseline;
  gap: 3px;
  color: rgb(23, 30, 29);
  font-size: 19px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 2%;
}
.card__price::before {
  content: attr(data-value);
  font-size: 15px;
}
.card__price span {
  color: rgb(120, 120, 120);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 2%;
}
.card__btn {
  position: relative;
  z-index: 3;
  width: 48px;
  height: 48px;
  background-color: var(--c-card-dark);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.card__btn:hover {
  opacity: 0.8;
}

#cards-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  /* Стилі вашої картки */
  transition: transform 0.3s ease;
}

.card.hovered {
  transform: translateY(-5px); /* Змінюємо положення картки при наведенні */
}

.cards__item:nth-child(n+9) {
  display: none;
}

.cards__item.is-visible {
  display: block;
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

.find {
  background-image: url(./../img/bg.png);
  padding: 50px 0 30px;
}
.find__title {
  font-size: 40.4px;
  max-width: 538px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 8px;
}
.find__desc {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 300;
  line-height: 120%;
  margin-bottom: 24px;
}

#animated-title {
  overflow: hidden;
  white-space: nowrap;
}

#animated-title span {
  display: inline-block;
  opacity: 0;
  animation: reveal 1s forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.green-word {
  color: var(--c-primary) !important;
}/*# sourceMappingURL=main.css.map */