@charset "UTF-8";
:root {
  --ff: "Archivo", sans-serif;
  --transition: .2s all ease-in-out;
  --c-white: #ffff;
  --c-primary: #00C29F;
  --c-light-blue: #00D6C9;
  --c-gray: #7C7C7C;
  --c-footer-bg: #2D2F33;
  --c-text: #1E1E1E;
  --c-text-muted: #8D8D8D;
  --c-card-dark: #0D1B39;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  outline: 0;
  word-break: break-word;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

body {
  margin: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff);
  color: var(--c-text);
  position: relative;
  background: rgb(255, 255, 255);
}

html._overflow {
  overflow: hidden;
}
html._overflow body {
  overflow: hidden;
}

a {
  color: var(--c-text);
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  width: 100%;
  margin-inline: auto;
}

.none {
  display: none !important;
}

.btn {
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}

a {
  transition: var(--transition);
  position: relative;
}
a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  border-radius: 50%;
  bottom: -3px;
  position: absolute;
  background: var(--c-primary);
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition);
}
a:hover::after {
  width: calc(100% - 8px);
}
a:hover {
  opacity: 0.5;
  color: var(--c-primary);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 15px;
  border-bottom: 1px solid var(--c-border);
}
.header__personal {
  align-items: center;
  display: flex;
  gap: 20px;
}
@media (max-width: 992px) {
  .header__personal {
    display: none;
  }
}
.header__ul {
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 1;
}
@media (max-width: 992px) {
  .header__ul {
    display: none;
  }
}
.header__ul._active {
  transform: translateX(0);
}
.header__ul._active ~ .header__backdrop {
  transform: translateX(0);
}
.header__ul .icon-close {
  position: absolute;
  top: 40px;
  right: 40px;
  color: var(--c-white);
}
.header__a {
  color: var(--c-text);
  font-size: 16px;
  font-weight: 400;
  transition: var(--transition);
}
.header__a:hover {
  color: var(--c-primary);
}

.header__nav-container {
  display: contents;
}

.icon-menu,
.icon-close {
  cursor: pointer;
  display: none;
}
@media (max-width: 992px) {
  .icon-menu,
  .icon-close {
    display: inline-block;
  }
}

.footer {
  padding: 12px 0;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: space-between;
  align-items: center;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mobile-nav-wrapper {
  transform: translateX(-120%);
  transition: var(--transition);
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 320px;
  height: 100vh;
  padding: 30px 30px;
  background-color: #34373f;
}
.mobile-nav-wrapper._active {
  transform: translateX(0);
}
.mobile-nav-wrapper._active ~ .header__backdrop {
  transform: translateX(0);
}
.mobile-nav-wrapper a {
  color: var(--c-white) !important;
}
.mobile-nav-wrapper--open {
  display: block;
}

.mobile-nav {
  display: grid;
  gap: 20px;
  font-size: 20px;
}

.mobile-sub-nav {
  padding-top: 20px;
  padding-left: 20px;
  display: grid;
  gap: 14px;
  font-size: 16px;
}

.mobile-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  gap: 20px;
}

.mobile-cart {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  flex-grow: 1;
}

.tab-controls {
  display: inline-flex;
  padding: 6px;
  align-items: center;
  border-radius: 9px;
  background-color: #eee;
  border: 1px solid lightgrey;
}
.tab-controls__btn {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 18px;
  color: rgba(31, 31, 31, 0.8);
  font-weight: 500;
  line-height: 1.85;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.tab-controls__btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tab-controls__btn--active {
  background-color: var(--c-primary);
}
.tab-controls__btn--active:hover {
  background-color: var(--c-primary);
}

.stays__position {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.2;
}
.stays__position--active {
  font-weight: 600;
}

.stays-section {
  padding: 38px 0 24px;
}

.stays__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 22px;
}

.show-more, .hide-all {
  cursor: pointer;
  margin-inline: auto;
  display: flex;
  margin-top: 22px;
  border-radius: 6px;
  border: 1px solid var(--c-primary);
  background: none;
  justify-content: center;
  padding: 11px 30px;
  color: var(--c-primary);
  font-size: 16px;
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 500;
  transition: var(--transition);
}
.show-more:hover, .hide-all:hover {
  opacity: 0.7;
}

.card {
  border: 2px solid #E8ECF2;
  border-radius: 20px;
  max-width: 305px;
  position: relative;
  transition: var(--transition);
}
.card a:hover::after {
  display: none;
}
.card__trend {
  display: flex;
  align-items: center;
  color: var(--c-primary);
  gap: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}
.card-like {
  z-index: 5;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 27px;
  background: white;
  padding: 8px;
  border-radius: 50%;
  transition: var(--transition);
}
.card-like svg {
  display: flex;
}
.card-like:hover {
  opacity: 0.9;
  background-color: var(--c-primary);
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.card__photo {
  border-radius: 20px 20px 0 0;
  background-color: #fafafa;
  text-align: center;
}
.card__photo img {
  border-radius: 20px 20px 0 0;
}
.card__desc {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 16px;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
}
.card__desc-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}
.card__categore {
  position: relative;
  z-index: 3;
  color: rgb(23, 30, 29);
  font-family: var(--ff);
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2%;
}
.card__title {
  margin: 0;
  margin-top: 6px;
  color: rgb(120, 120, 120);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2%;
}
.card__raiting {
  display: flex;
  align-items: baseline;
  gap: 6px;
  color: rgb(23, 30, 29);
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
}
.card__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__price {
  display: flex;
  align-items: baseline;
  gap: 3px;
  color: rgb(23, 30, 29);
  font-size: 19px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 2%;
}
.card__price::before {
  content: attr(data-value);
  font-size: 15px;
}
.card__price span {
  color: rgb(120, 120, 120);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 2%;
}
.card__btn {
  position: relative;
  z-index: 3;
  width: 48px;
  height: 48px;
  background-color: var(--c-card-dark);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.card__btn:hover {
  opacity: 0.8;
}

#cards-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  /* Стилі вашої картки */
  transition: transform 0.3s ease;
}

.card.hovered {
  transform: translateY(-5px); /* Змінюємо положення картки при наведенні */
}

.cards__item:nth-child(n+9) {
  display: none;
}

.cards__item.is-visible {
  display: block;
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

.find {
  background-image: url(./../img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0 30px;
}
.find__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  padding: 10px 12px;
  border: 0.7px solid rgb(232, 236, 242);
  border-radius: 10px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.02);
  background: rgb(255, 255, 255);
}
.find__form-search {
  justify-content: center;
  display: flex;
  align-items: center;
  border: 1px solid rgb(217, 217, 217);
  gap: 9px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  padding: 23px 12px;
  width: 100%;
  max-width: 142px;
  background: var(--c-primary);
  border: none;
  color: white;
  transition: var(--transition);
}
.find__form-search:hover {
  opacity: 0.8;
}
.find__form-guest {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(217, 217, 217);
  gap: 5px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  padding: 0 12px;
  width: 173px;
}
.find__form-date {
  display: flex;
  gap: 14px;
}
.find__form-accom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  max-width: 547px;
  padding: 6px 12px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  background: rgb(255, 255, 255);
}
.find__form-accom input {
  width: 100%;
  background: none;
  border: none;
}
.find__title {
  font-size: 40.4px;
  max-width: 577px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 8px;
}
.find__desc {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 300;
  line-height: 120%;
  margin-bottom: 24px;
}

.input-date {
  height: 64px;
}

.dropdown-content {
  top: 67px;
  left: 0%;
  width: 100%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content a:hover::after {
  display: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 0;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#animated-title {
  overflow: hidden;
  white-space: nowrap;
}

#animated-title span {
  display: inline-block;
  opacity: 0;
  animation: reveal 1s forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.green-word {
  color: var(--c-primary) !important;
}

/* Стилізація тексту */
.find__desc {
  opacity: 0; /* Початкова прозорість */
  animation: fadeIn 6s ease forwards; /* Виклик анімації fadeIn */
}

/* Ключові кадри анімації */
@keyframes fadeIn {
  from {
    opacity: 0; /* Початкова прозорість */
  }
  to {
    opacity: 1; /* Кінцева прозорість */
  }
}
[type=date] {
  background: #fff url(./../img/icons/date.svg) 97% 50% no-repeat;
  cursor: pointer;
}

[type=date]::-webkit-inner-spin-button {
  display: none;
  cursor: pointer;
}

[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

/* custom styles */
label {
  display: block;
}

input {
  height: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  width: 190px;
}

.links {
  padding: 40px 0 40px;
  background: rgb(244, 244, 244);
}
.links__nav-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 14px;
}
.links__list {
  display: grid;
  gap: 14px;
}
.links__list-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
}

.links-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
}

.links {
  padding: 50px 0;
}

/* Стилізація підсекцій */
.links__nav {
  opacity: 0; /* Початкова прозорість */
  transition: opacity 3s ease; /* Плавне зміна прозорості */
}

/* Призначення анімації з'явлення для підсекцій при скролі */
.links__nav.animate {
  opacity: 1;
}

.cards__item {
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.cards__item.active {
  opacity: 1;
  transform: translateY(0);
}

.find__container {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.8s ease;
}

.find__title {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease 0.3s, transform 0.8s ease 0.8s;
}

.find__desc {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease 0.6s, transform 0.8s ease 0.8s;
}

.animated {
  opacity: 1;
  transform: translateY(0);
}

.swiper {
  width: 782px;
  height: 300px;
}
.swiper-block {
  height: 410px;
}
.swiper-wrapper {
  cursor: pointer;
}
.swiper-wrapper img {
  border-radius: 8px;
}
.swiper-wrapper-low {
  height: 90px !important;
}

.mySwiper2 {
  margin-bottom: 10px;
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-name {
  border: 1px solid rgb(232, 236, 242);
  border-radius: 7px;
  background: rgb(255, 255, 255);
  max-width: 530px;
}

.card-section {
  max-width: 1370px;
}

.card__name-starts {
  display: flex;
}
.card__name-categore {
  color: rgb(23, 30, 29);
  font-size: 29px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.2;
}
.card__name-title {
  color: rgb(23, 30, 29);
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
}
.card-starts {
  color: rgb(0, 194, 159);
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.2;
  text-decoration-line: underline;
}
.card__name-desc {
  color: rgb(23, 30, 29);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.2;
}
.card__price {
  color: rgb(23, 30, 29);
  font-size: 36px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.2;
}
.card-btn {
  padding: 12px 0;
  border-radius: 6px;
  background: rgb(0, 194, 159);
}
.card-host {
  color: rgb(120, 120, 120);
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.2;
}
.card-host-title {
  color: rgb(23, 30, 29);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.2;
}
.card-host-desc {
  color: rgb(122, 122, 122);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.2;
}
.card-host-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-sup {
  border-radius: 17px;
  background: rgb(222, 255, 249);
}/*# sourceMappingURL=main.css.map */