<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css" />

    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <title>Brightwoods Cabin</title>
</head>
<body>



    <header class="header container">

        <a href="../index.html">
            <img width="157px" height="41px" src="../img/icons/logo.svg" alt="logo-header" />
        </a>

       <div class="header__nav-container">
          <nav class="header__nav">

            <ul class="header__ul" >
                <li class="header__li"><a class="header__a is-active" href="/">Home</a></li>
                <li class="header__li"><a class="header__a" href="/">Stays</a></li>
                <li class="header__li"><a class="header__a" href="/">Become a host</a></li>

                <span class="material-icons icon-close" onclick="navToggle()">close</span>
            </ul>
            <span class="header__backdrop" onclick="navToggle()"></span>
            <span class="material-icons icon-menu" onclick="navToggle()">menu</span>

        </nav>

          <ul class="header__personal">
              <a href=""><img src="../img/icons/notifications.svg" alt="notifications"/></a>
              <a href=""><img src="../img/icons/avatar.svg" alt="avatar" /></a>
          </ul>

       </div>

    </header>




    <section class="container card-section">

        <div class="card-info">

          <div class="swiper-block">

            <div class="swiper mySwiper2">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  <img src="../img/swiper-img.png" alt="swiper">
                </div>
                <div class="swiper-slide">
                  <img src="../img/swiper-img2.png" alt="swiper">
                </div>
                <div class="swiper-slide">
                  <img src="../img/swiper-img3.png" alt="swiper">
                </div>
                <div class="swiper-slide">
                  <img src="../img/swiper-img4.png" alt="swiper">
                </div>
                <div class="swiper-slide">
                  <img src="../img/swiper-img2.png" alt="swiper">
                </div>
                
              </div>
              
            </div>
  
  
            <div thumbSlider="" class="swiper mySwiper">
  
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper swiper-wrapper-low">
                <!-- Slides -->
                <div class="swiper-slide">
                  <img height="86px" src="../img/swiper-img.png" alt="swiper">
                </div>
                <div class="swiper-slide">
                  <img height="86px" src="../img/swiper-img2.png" alt="swiper">
                </div>
                <div class="swiper-slide">
                  <img height="86px" src="../img/swiper-img3.png" alt="swiper">
                </div>
                <div class="swiper-slide">
                  <img height="86px" src="../img/swiper-img4.png" alt="swiper">
                </div>
                <div class="swiper-slide">
                  <img height="86px" src="../img/swiper-img2.png" alt="swiper">
                </div>
          
              </div>
             
  
            </div>
  
          </div>
  
          <div class="card-name">


            <div class="card-name__desc-container">
              <div>
                <p class="card__name-categore">Brightwoods Cabin</p>
              <h3 class="card__name-title">Bridlepath, Ontario, Canada</h3>
              </div>
              <div class="card__name-raiting">
                <img  src="./../img/icons/heart.svg" alt="heart">
              </div>
            </div>

            <div class="card__name-starts">
              <p>5.0 <img src="./../img/icons/star.svg" alt="star"></p>
              <a href="!#review"> 200 Reviews </a>
            </div>
            <p class="card__name-desc">
              Welcome to our cozy cabin 
              retreat nestled in the heart of Bridlepath, 
              Ontario! Surrounded by lush landscapes and tranquil trails, 
              this charming getaway offers the perfect blend of rustic elegance and modern comfort. 
            </p>

            <div class="card__footer">
              <div class="card-name__price" data-value="$">658 <span>/night</span></div>
              <div class="card__trend">
                <img src="../img/icons/trend2.svg" alt="trend">
                Best time to Book
              </div>
            </div>

            <button class="btn card__name-btn">
              Book this home
            </button>


            <div>
              <p class="card-host">Hosted by:</p>
              <div class="card-host-cont">
                <div class="card-host__avatar">
                  <img src="../img/icons/host.svg" alt="host">
                    <div>
                      <p class="card-host-title">Michelle Ward</p>
                      <p class="card-host-desc">Joined in May 2021</p>
                    </div>
                </div>
                <div class="card-sup">
                  <img src="../img/icons/svg-host.svg" alt="">
                  Superhost
                </div>
              </div>
            </div>



          </div>

        </div>



    </section>



    <section class="container about-section ">

      <h2 class="about__title">About this home</h2>

      <div class="about-container">
        <div class="about__info">
          <p class="about__info-text">
            Welcome to Brightwoods Cabin, your 
            idyllic retreat nestled in the heart of Bridlepath, Ontario! Our cozy cabin, 
            surrounded by the tranquility of nature's embrace, is designed to provide the ultimate relaxing getaway.
          </p>
  
          <p class="about__info-text ">
            <span>Living Space:</span> 
            This charming cabin boasts a spacious living area adorned with rustic decor and modern amenities. 
            Enjoy the warmth of the wood-burning fireplace, relax on the plush sofas, and make yourself at home 
            with our entertainment center featuring a flat-screen TV, WiFi, and more.
          </p>
  
          <p class="about__info-text ">
            <span>Bedrooms:</span> With 3 beautifully appointed bedrooms, our cabin comfortably accommodates up to [number of guests]. 
            Each room is furnished with luxurious bedding and unique woodland-inspired touches to ensure a restful slumber.
          </p>
  
          <p class="about__info-text none">
            <span>Kitchen & Dining:</span>Our fully-equipped kitchen offers everything you need to prepare delicious home-cooked meals. 
            The open dining area provides a welcoming space to enjoy meals with friends and family.
          </p>
  
          <p class="about__info-text none">
            <span>Bathrooms:</span> 2 modern bathrooms stocked with fresh towels, toiletries, and 
            all essential amenities add to your convenience.
          </p>
  
          <p class="about__info-text none">
            <span>Outdoor Space:</span>  Step outside to a serene outdoor setting. 
            Whether it's a morning coffee on the porch, a BBQ in the yard, or a soothing evening 
            by the fire pit, the beauty of Bridlepath is at your doorstep.
          </p>
          <p class="about__info-text none">
            <span>Location:</span> Located just minutes from [local attractions, trails, 
            dining, shopping], our cabin offers the perfect base to explore the best of the region or simply unwind in seclusion.
          </p>
          <p class="about__info-text none">
            <span>Hosted with Love:</span> We take pride in hosting our guests and 
            are committed to making your stay unforgettable. We're just a call or message away 
            should you need anything during your stay.
          </p>
          <p class="about__info-text none">
            Come, be our guest at [Cabin Name], and experience a piece of woodland serenity
            right here in Bridlepath, Ontario. Book now and make yourself at home!
          </p>
  
  
  
          <button class="btn show-more__about">Show more</button>
  
        </div>
  
  
        <div class="about__checks">
  
          <div class="about__checks-info">
            <img src="./../img/icons/workspace.svg" alt="workspace">
            <div>
              <p class="about__checks-info-title">Dedicated workspace</p>
              <p>A private room equipped with WiFi</p>
            </div>
          </div>
  
          <div class="about__checks-info">
            <img src="./../img/icons/self.svg" alt="self">
            <div>
              <p class="about__checks-info-title">Self check-in</p>
              <p>Check in with just your phone</p>
            </div>
          </div>
  
          <div class="about__checks-info">
            <img src="./../img/icons/calendar.svg" alt="calendar">
            <div>
              <p class="about__checks-info-title">Free cancellation</p>
              <p>Cancel anytime</p>
            </div>
          </div>
  
        </div>
      </div>


    </section>





    <section class="container amenities">
      

      <div class="amenities-info">
        
        <div>
          <h3 class="amenities__title">Amenities</h3>
          <div class="amenities__advents">
            <div class="amenities__advents-item">
              <p class=""><img src="./../img/icons/lake.svg" alt="">Lakeside</p>
              <p class=""><img src="./../img/icons/kitchen.svg" alt="">Kitchen</p>
              <p class=""><img src="./../img/icons/outdoor-outline.svg" alt="">Security cameras on property</p>
              <p class=""><img src="./../img/icons/wifi.svg" alt="">Wifi</p>
            </div>
            <div class="amenities__advents-item">
              <p class=""><img src="./../img/icons/car.svg" alt="">Free parking</p>
              <p class=""><img src="./../img/icons/shower.svg" alt="">Outdoor shower</p>
              <p class=""><img src="./../img/icons/drop.svg" alt="">Hot water</p>
              <p class=""><img src="./../img/icons/helth.svg" alt="">Shampoo</p>
            </div>
            <div class="amenities__advents-item">
              <p class=""><img src="./../img/icons/fire.svg" alt="">Fire Extinguisher</p>
              <p class=""><img src="./../img/icons/freez.svg" alt="">Freezer</p>
              <p class=""><img src="./../img/icons/cofee.svg" alt="">Coffee Maker</p>
              <p class=""><img src="./../img/icons/stove.svg" alt="">Glass stove</p>
            </div>
  
          </div>
          <button class="btn show-all">Show all amenities</button>
        </div>


        <div class="amenities__map ">

          <div class="amenities__map-info">

            <div class="amenities__map-title">
              <h3>Where you’ll be</h3>
              <p><img src="./../img/icons/point.svg" alt="point">The Bridle Path</p>
            </div>

            <div class="amenities__map-weather">
              <img src="./../img/icons/Cloud.svg" alt="Cloud">
              <div>
                <h3>20°C</h3>
                <p>Broken clouds</p>
              </div>
            </div>

          </div>

          
          <div class="amenities__map-map">
            <img src="./../img/map.png" alt="map">
          </div>
        </div>

      </div>
    </section>


    <section class="container reviews">

      <div class="reviews-info">
        <h3 class="reviews__title">Reviews</h3>
        <a href="!#Viewall">View all</a>
      </div>

      <div class="reviews__blocks">

        <div  class="reviews__blocks-item">

          <div class="reviews__blocks-cont">
            <div class="reviews__blocks__avatar">
              <img src="../img/icons/jon.svg" alt="jon">
                <div>
                  <p class="reviews__blocks-title">Johnny Cash</p>
                  <p class="reviews__blocks-desc">June 2023</p>
                </div>
            </div>
            <p class="reviews__blocks-stars">
              5.0
              <img src="../img/icons/star2.svg" alt="star">
            </p>
          </div>

          <p class="reviews__blocks-text">
            Michelle’s place was so great and definitely the perfect place for our long weekend. The lake is amazing!
          </p>

        </div>

        <div  class="reviews__blocks-item">

          <div class="reviews__blocks-cont">
            <div class="reviews__blocks__avatar">
              <img src="../img/icons/yuta.svg" alt="yuta">
                <div>
                  <p class="reviews__blocks-title">Yuta Watanabe</p>
                  <p class="reviews__blocks-desc">Shane Willis</p>
                </div>
            </div>
            <p class="reviews__blocks-stars">
              4.5
              <img src="../img/icons/star2.svg" alt="star">
            </p>
          </div>

          <p class="reviews__blocks-text">
           The location is perfect. I love the lake so much!!! This is one of the best stays we had for a while. Definitely recommended.
          </p>

        </div>

        <div  class="reviews__blocks-item">

          <div class="reviews__blocks-cont">
            <div class="reviews__blocks__avatar">
              <img src="../img/icons/shane.svg" alt="shane">
                <div>
                  <p class="reviews__blocks-title">May 2023</p>
                  <p class="reviews__blocks-desc">December 2022</p>
                </div>
            </div>
            <p class="reviews__blocks-stars">
             4.8
              <img src="../img/icons/star2.svg" alt="star">
            </p>
          </div>

          <p class="reviews__blocks-text">
            A great place overall. One of the nicest place in town for sure. I will come back in the next few months with my family :)
          </p>

        </div>

      </div>

    </section>




    <section class="container stays">

      <div class="stays-info">
        <h3 class="stays__title">Similar stays</h3>
        <a href="./../index.html">View all</a>
      </div>

      <div class="stays__blocks">

        <div  class="stays__blocks-item">
          <div>
            <img class="stays__item-img" src="./../img/icons/miiss2.svg" alt="miiss">
            <img src="" alt="">
          </div>
          
          <div class="stays__blocks-cont">
            <!-- <div class="stays__blocks__avatar"> -->
                <p class="stays__blocks-title">Missisuaga Aistream</p>
                <p class="stays__blocks-desc">Missisauga, Ontario, Canada</p>
            <!-- </div> -->
            <p class="stays__blocks-stars">
              4.5
              <img src="../img/icons/star2.svg" alt="star">
            </p>

            
              <div class="stays-blocks-cont__price" data-value="$">472 <span>/night</span></div>
            
          </div>


      </div>

    </section>




    <section class="links">
      <div class="container links__container">
        <div class="links-grid">

          <nav class="links__nav links__nav--services">
            <h3 class="links__nav-title">Support</h3>
            <ul class="links__list">
              <li class="links__list-item"><a href="#">Help Centre</a></li>
              <li class="links__list-item"><a href="#">AirCover</a></li>
              <li class="links__list-item"><a href="#">Combating discrimination</a></li>
              <li class="links__list-item"><a href="#">Supporting people with disabilities</a></li>
              <li class="links__list-item"><a href="#">Cencellation options</a></li>
              <li class="links__list-item"><a href="#">Report neighbourhood concern</a></li>
            </ul>
          </nav>

          <nav class="links__nav">
            <h3 class="links__nav-title">Hosting</h3>
            <ul class="links__list">
              <li class="links__list-item"><a href="#">Local home</a></li>
              <li class="links__list-item"><a href="#">Cover for hosts</a></li>
              <li class="links__list-item"><a href="#">Hosting resources</a></li>
              <li class="links__list-item"><a href="#">Community forum</a></li>
              <li class="links__list-item"><a href="#">Hosting responsibly</a></li>
            </ul>
          </nav>

          <nav class="links__nav">
            <h3 class="links__nav-title">Localhost</h3>
            <ul class="links__list">
              <li class="links__list-item"><a href="#">Newsroom</a></li>
              <li class="links__list-item"><a href="#">New Features</a></li>
              <li class="links__list-item"><a href="#">Careers</a></li>
              <li class="links__list-item"><a href="#">Investres</a></li>
              <li class="links__list-item"><a href="#">Gift cards</a></li>
            </ul>
          </nav>

        </div>

    </section>






    <footer class="footer">
      <div class="container footer__container">
        
          <div class="footer__copyright">
           © <span id="year-clock"></span> Localhost, Inc. All Rights Reserved
          </div>
          
          <div class="footer__links">
            <a href="#!">Privacy Policy</a>
            <a href="#!">Terms & Conditions</a>
            <a href="#!">Contact us</a>
          </div>
        
      </div>
    </footer>





    <!-- Mobile nav -->
    <div id="headerUl" class="mobile-nav-wrapper">
      <div class="mobile-nav-header">
        <a class="mobile-cart">
          <div href="/" class="header__cart">
            <img
              class="header__cart-img"
              src="../img/icons/avatar.svg"
              alt=""
            />
            
          </div>
          Profile
          <a href=""><img src="../img/icons/notifications.svg" alt="notifications"/></a>
        </a>

        <!-- <button id="close-mobile-nav-btn" class="btn mobile-nav-btn-close">
          <img src="./img/icons/close.svg" alt="close" />
        </button> -->
        <span class="material-icons icon-close" onclick="navToggle()">close</span>
      </div>

      <ul class="mobile-nav">
        <li class="mobile-nav__item">
          <a href="/" class="mobile-nav__link">Home</a>
        </li>
        <li class="mobile-nav__item">
          <a href="/" class="mobile-nav__link">Stays</a>
        </li>
        <li class="mobile-nav__item">
          <a href="/" class="mobile-nav__link">Become a host</a>
        </li>
      </ul>
    </div>
    <!-- Mobile nav -->


    <script src="../js/show-more.js"></script>

    <script src="../js/main.js"></script>
    

 
    <script src="../js/animation.js"></script>

    

    

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="../js/swiper.js"></script>

</body>
</html>