.about-section {
}
.about {
  &__title {
    color: rgb(23, 30, 29);
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.2;
    margin-bottom: 20px;
  }

  &__info {
  }

  &__info-text {
    color: rgb(23, 30, 29);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 21px;

    max-width: 830px;

    span {
      font-weight: 700;
    }
  }

  &__checks {
  }
}
.show-more {
  &__about {
    color: var(--c-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.46px;

    background: none;
  }
}
