.links {
    padding: 50px 0;
  }

  /* Стилізація підсекцій */
  .links__nav {
    opacity: 0; /* Початкова прозорість */
    transition: opacity 3s ease; /* Плавне зміна прозорості */
  }

  /* Призначення анімації з'явлення для підсекцій при скролі */
  .links__nav.animate {
    opacity: 1;
  }


  //////////////////////////////// 
  .card {
    background-color: #f0f0f0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .card.active {
    opacity: 1;
    transform: translateY(0);
  }





// Header
.find__container {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.8s ease;
}

.find__title {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease 0.3s, transform 0.8s ease 0.8s;
}

.find__desc {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease 0.6s, transform 0.8s ease 0.8s;
}

.animated {
    opacity: 1;
    transform: translateY(0);
}


  