.card {
    border: 2px solid #E8ECF2;
    border-radius: 20px;
    max-width: 305px;

    position: relative;

    a{
        &:hover::after{
            display: none;
        }
    }

    &-like{
        z-index: 5;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 27px;

        background: white;
        padding: 8px;
        border-radius: 50%;

        img{
            display: flex;
        }
    }

    &-container{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__link{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

   

    &__photo {
        // height: 240px;
        border-radius: 20px 20px 0 0;
        background-color: #fafafa;
        text-align: center;

        img{
            border-radius: 20px 20px 0 0;
        }

    }

    &__desc {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 16px;



        // padding: 14px 22px 28px;

        // height: 202px;
        border-radius: 0 0 20px 20px;
        background-color: #fff;

        &-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__categore {
        position: relative;
        z-index: 3;
        color: var(--c-text-muted);
        font-size: 17px;
        margin: 0;

    }

    &__title {
        margin: 0;
        color: var(--c-card-dark);
        font-size: 21px;
        font-weight: 600;
    }

    &__raiting {
        display: flex;
        gap: 3px;
    }

    &__footer {
        margin-top: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        display: flex;
        align-items: flex-start;
        gap: 3px;

        color: var(--c-card-dark);
        font-size: 21px;
        font-weight: 600;

        &::before{
            content: attr(data-value);

            font-size: 15px;
        }
    }

    &__btn {
        position: relative;
        z-index: 3;

        width: 48px;
        height: 48px;
        background-color: var(--c-card-dark);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: var(--transition);

        &:hover{
            opacity: 0.8;
        }
    }
}





#cards-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}