.find {
  background-image: url(./../img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0 30px;

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 14px;

    padding: 10px 12px;

    border: 0.7px solid rgb(232, 236, 242);
    border-radius: 10px;

    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.02);
    background: rgb(255, 255, 255);

    &-search{
        justify-content: center;
        display: flex;
        align-items: center;
        border: 1px solid rgb(217, 217, 217);
        gap: 5px;
        border-radius: 4px;

        
  
        background: rgb(255, 255, 255);

        padding: 23px 12px;

        width: 100%;
        max-width: 142px;

        background: var(--c-primary);
        
        border: none;

        color: white;

            
    }

    &-guest{
        position: relative;

        display: flex;
        align-items: center;
        border: 1px solid rgb(217, 217, 217);
        gap: 5px;
        border-radius: 4px;
  
        background: rgb(255, 255, 255);

        padding: 0 12px;

        width: 173px;
        // input {
        //     width: 100%;
        //     background: none;
        //     border: none;
        //   }
    }

    &-date {
      display: flex;
      gap: 14px;
    }

    &-accom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      width: 100%;
      max-width: 547px;

      padding: 6px 12px;

      border: 1px solid rgb(217, 217, 217);
      border-radius: 4px;

      background: rgb(255, 255, 255);

      input {
        width: 100%;
        background: none;
        border: none;
      }
    }
  }
  &__title {
    font-size: 40.4px;
    max-width: 577px;

    font-weight: 700;
    line-height: 110%;

    margin-bottom: 8px;
  }
  &__desc {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;

    margin-bottom: 24px;
  }
}



.input-date{
    height: 64px;
}








.dropdown-content {
    top: 67px;
    left: 0%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 0;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  













#animated-title {
  overflow: hidden;
  white-space: nowrap;
}

#animated-title span {
  display: inline-block;
  opacity: 0;
  animation: reveal 1s forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.green-word {
  color: var(--c-primary) !important;
}
