[type="date"] {
    background: #fff url(./../img/icons/date.svg) 97% 50% no-repeat ;
    cursor: pointer;
  }
  
  [type="date"]::-webkit-inner-spin-button {
    display: none;
    cursor: pointer;
  }
  
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
  }
  
  
  /* custom styles */

  
  label {
    display: block;
  }
  
  input {   
    height: 50px;


    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    
    width: 190px;
    
  }
