.singup {

    background-image: url(./../img/bg-login.png);
//   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1440 / 1084;
    height: 100%;

padding: 171px 0 171px;

    &__block {
    }

    &__title {
    }

    &__label {
    }

    &__btn {
    }

    &__desc {
    }

    &__blocks-links {
    }

    &__link {
    }

    &__link-name {
    }

    &__login {
    }
}
.singup-form {
}
.btn {
}
