.stays__position{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.2;

    &--active{
        font-weight: 600;
    }
}

.stays-section{
    padding: 38px 0 24px;
}

.stays__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 22px;
}



.show-more, .hide-all {
    cursor: pointer;
    margin-inline: auto;
    display: flex;
    margin-top: 22px;
    border-radius: 6px;
    border: 1px solid var(--c-primary);
    background: none;
    justify-content: center;
    padding: 11px 30px;


    color: var(--c-primary);
    font-size: 16px;
    letter-spacing: 0.46px;
    line-height: 26px;
    font-weight: 500;

    transition: var(--transition);

    &:hover{
        opacity: 0.7;
    }
}

