.stays {
  max-width: 1370px;
  padding: 44px 15px 20px;
  &__title {
    color: rgb(23, 30, 29);
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.2;
  }

  &__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  &__blocks-item {
    position: relative;
    border: 1px solid rgb(232, 236, 242);
    border-radius: 10px;

    background: rgb(255, 255, 255);

    display: flex;
    align-items: center;

    height: 143px;

    a:hover::after {
      display: none;
    }
  }

  &__blocks-title {
    color: rgb(23, 30, 29);
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.2;
    margin-bottom: 4px;
  }

  &__blocks-desc {
    color: rgb(120, 120, 120);
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.2px;
    margin-bottom: 12px;
  }

  &__blocks-stars {
    display: flex;
    gap: 6px;
    margin-bottom: 20px;
  }
}
.stays-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;

  a {
    color: var(--c-primary);
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.46px;
  }
}
.stays-blocks-cont {
  &__price {
    color: var(--c-primary);
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.2px;

    span {
      color: rgb(120, 120, 120);
      font-size: 14px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0.2px;
    }

    &::before {
      content: attr(data-value);
      font-size: 15px;
    }
  }
}

.stays__blocks-cont {
  padding-left: 16px;
  padding-right: 49px;
}

.stays__item-img {
  border-radius: 10px 0 0 10px;
}

.img-heart {
  position: absolute;
  right: 10px;
  top: 10px;

  background: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 8px;
}

.stays__photo {
  position: relative;
}

.stays-sup {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 8px;
  color: var(--c-primary);
  border-radius: 13px;
  padding: 6px;
  background: rgb(255, 255, 255);

}

.stays-link{
    z-index: 10;
}
