.stays__position{
    &--active{
        font-weight: 600;
    }
}

.stays-section{
    padding: 38px 0 24px;
}

.stays__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 22px;
}



.stays__link-more{
    max-width: 147px;
    margin-inline: auto;
    display: flex;
    margin-top: 22px;
    border-radius: 6px;
    border: 1px solid var(--c-primary);
    justify-content: center;
    padding: 11px 0;


    color: var(--c-primary);
    font-size: 16px;
    letter-spacing: 0.46px;
    line-height: 26px;
    font-weight: 500;

    &:hover::after{
        display: none;
    }
}