.swiper {
  width: 782px;
  height: 438px;

 

  &-block {
  }

  &-wrapper {
    gap: 14px;
    cursor: pointer;
    img {
      border-radius: 8px;
    }
    &-low {
      height: 90px !important;
    }
  }
}

.mySwiper2 {
  margin-bottom: 10px;

  //  @include desktop-small {
  //   display: none !important;
  // }
}

.mySwiper {
  height: 86px;

   @include desktop-small {
    display: none !important;
  }
}


