.swiper {
  width: 782px;
  height: 438px;

  &-block {
    height: 410px;
  }

  &-wrapper {
    gap: 14px;
    cursor: pointer;
    img {
      border-radius: 8px;
    }
    &-low {
      height: 90px !important;
    }
  }
}

.mySwiper2 {
  margin-bottom: 10px;
}

.mySwiper {
  height: 86px;
}


