body {
  font-family: var(--ff);
  color: var(--c-text) ;
  position: relative;
}

html._overflow {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

a {
    color: var(--c-text) ;
}

.container {
  max-width: calc(1280px + 30px);
  padding: 0 15px;
  width: 100%;
  margin-inline: auto;
}

.none {
  display: none !important;
}

.btn {
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.title {
  margin-top: 90px;
  font-size: 44px;
  color: var(--c-white);
  font-weight: 700;
  margin-bottom: 17px;
  @include mobile {
    font-size: 32px;
    margin-top: 50px;
  }

  span {
    color: var(--c-primary);
  }
}

.desc {
  color: var(--c-body);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  max-width: 460px;
  margin-bottom: 40px;
  @include mobile {
    font-size: 14px;
  }
}

a{
  transition: var(--transition);
  &:hover{
    color: var(--c-primary);
  }
}